/* faculty.css */

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to bottom right, #79bed9, #a3dbf1, #79bed9);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.faculty-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faculty-page h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #030303;
}

.video-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

video {
  width: 100%;
  max-width: 640px;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

input[type="file"] {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.captured-image {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.success-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.link-container {
  margin-top: 20px;
}

.view-attendance-button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.view-attendance-button:hover {
  background-color: #218838;
}
