#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background-image: linear-gradient(to bottom right, #79bed9, #a3dbf1, #79bed9);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
  }
  
  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #navbar li {
    list-style: none;
    padding: 0 20px;
  }
  
  #navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
  }
  
  #navbar li a:hover,
  #navbar li a.active {
    color: #010347;
  }
  
  
  
  
  
  
  
  
  