.container {
    display: flex; /* Aligns sections side by side */
    justify-content: center;
    align-items: center; /* Centers sections vertically */
    height: 88vh; /* Use full viewport height */
    background-image: linear-gradient(to bottom right, #cfe1e9, #a3dbf1, #97a3d8, #9e95e2, #cee2ea);
  }
  
  #left, #r {
    flex: 1; /* Makes both sections have equal width */
  }
  
  #left {
    background-color: #010347;
    padding-left: 20px;
    padding-top: 150px;
    font-family: sans-serif;
    color: #fff;
    height: 89.1%;
    margin-left: 70px;
  }
  
  #r {
    background-color: #8e43f7;
    padding-top: 40px;
    display: flex; /* Aligns child elements vertically */
    flex-direction: column; /* Stacks children vertically */
    justify-content: center; /* Centers child elements */
    align-items: center; /* Centers child elements horizontally */
    height: 89.1%;
    margin-right: 70px;
  }
  
  button {
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  #r button {
    border: 1px solid #010347;
    background-color: #010347;
    color: #fff;
  }
  
  img {
    display: block;
    margin: auto;
    height: 150px;
    width: 150px;
    aspect-ratio: auto;
  }

  img.logo {
    height: 50px;
    width: 50px;
    aspect-ratio: auto;
}
h1 {
  font-size: 81px;
  margin: auto;
}